.header-container {
  display: flex;
  justify-content: end;
  flex-direction: row-reverse;
  padding: 1rem;
  padding-right: 60px;
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  gap: 100px;
  justify-content: center;
}
