header{
    position: fixed;
    top: 0;
    left: 0;


    width: 100%;
    height: 80px;

    background-color: #19162b;
    color:  #f8f4f4;

    display: flex;
    align-items: center;
    opacity: 95%;
    border-bottom: 2px solid #332a5e;

}


nav {
    display: flex;
    gap: 0px;
    margin-left: 450px; 
    margin-right: 400px;
    font-size: 13px;
}

.logo{
    margin-left: 10%;
}

button{
    border: none;
}

.botao:hover {
    background-color: #0f1855;
    
}

.botao{
    display: inline-block;
    padding: 30px 60px;
    background-color:#1c247b;
    color: #ffffff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

    text-decoration: none;
    font-weight: 200;

    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

.ativo{
    background-color: rgba(60, 66, 229, 0.1);
    color: white;
    border-bottom: 4px solid #5a39fb;
     background: radial-gradient(
        ellipse at bottom ,
        #1683ff 0%,
        rgba(22, 131, 255, 0.7) 25%,
        rgba(22, 131, 255, 0.2) 55%,
        transparent 90%
    );
}


body{
   background-color: #19162b;
}

html,
body {
    margin: 0;
    padding: 0;
}

main {
    width: 100%;
    margin: 0;
    padding-top: 5.3%;
}

.banner {
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: 0;
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}